################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages/Newtonsoft.Json.9.0.1
/ocr2/bin/Debug
/ocr2/obj/Debug
